*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  min-height: 100vh;
}
.container{
  height: 50vh;
  padding: 50px;
/*  width:500px;*/
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  flex-direction: column;
  font-size: 10px;
}
hr{
  background: red;
  border: none;
  height: 20px;
}